.image {
    width: auto;
    height: auto;

    max-width: 1000px;
    max-height: 1000px;

    border-radius: 25px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-top: 25px;
}


.image-right {
    float: right;
    margin-right: 25px;
}

.image-left {
    float: left; 
    margin-left: 25px;
}

.image-large {
    display: none;

}