@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
}


body {
    font-family: 'Atkinson Hyperlegible';
    font-size: 1.5em;
    background-color: #1D1F21;
    color: #C5C8C6;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: .6rem;
}

::-webkit-scrollbar-track {
    background: #1D1F21;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: .6rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #4b4b4b;
}

.title {
    font-size: clamp(5px, 15vw, 10rem);
    font-weight: bold;
    color: #C5C8C6;

    top: 0;
    border: none;
    text-align: center;
    
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;

    position: sticky;

    margin: 10vw;

    backdrop-filter: blur(10px);
 

}

.sub-title {
    font-size: clamp(20px, 3vw, 15rem);
    font-weight: bold;
    color: #C5C8C6;

    top: 0;
    border: none;
    text-align: center;
    
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;

    position: static;

    margin: 10vw;
}


.text-block {
    display: inline-block;

    margin: 0;
    padding: 0;

    inline-size: 800px;
    overflow-wrap: break-word;

    background: #C5C8C6;

    border-radius: 25px;

    margin-left: 50px;
    margin-top: 50px;
    
}

.text {
    color: #1D1F21;
    margin-left: 30px;
    margin-right: 30px;
}

.enlarged {
    font-size: clamp(10px, 4vw, 15rem);
    background: linear-gradient(45deg, #f3ec78, #af4261);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block

}


.content-block {
    
    height: 100vh;
    width: 100vw;

}

.link {
    color: #8C9440;
    text-decoration: none;
}

.link:hover {
    color: #B5BD68;
}

.link-blue {
    color: #5F819D;
    text-decoration: none;
}

.link-blue:hover {
    color: #81A2BE;
}

.link-white {
    color: #C5C8C6;
    text-decoration: none;
}

.link-white:hover {
    color: aliceblue;
}


/* Cursor */

.blinking-cursor {
    font-weight: 100;
    font-size: clamp(10px, 15vw, 10rem);
    color: #8C9440;
    
    animation: 1s blink step-end infinite;
}
  
@keyframes blink {
        from, to {
        color: transparent;
    }
    50% {
        color: #8C9440;
    }
}


